@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.service-background {
  background-image:
    linear-gradient(to right, rgba(62, 7, 7, 0.5), transparent),
    url("https://images.unsplash.com/photo-1589487391730-58f20eb2c308?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Zm9vdGJhbGx8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.why-btn {
  grid-column-gap: 20px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #fae115;
  border-style: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
}
.why-btn :hover {
  background-color: #fff;
  color: #fae115;
  border: #fae115;
}

.background-white{
  background-color: white;
  background-repeat: no-repeat;

}

.why-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}
